@font-face {
  font-family: 'CustomMyFont';
  src: url('fonts/oswaldbold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.title-body {
  font-size: 24px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Courier New';
  font-weight: bold;
  color: #06095f;
  letter-spacing: 10px;
  font-style: inherit;
}

.custom-input {
  width: 300px;
	display: flex;
  /* justify-content: space-between; */
  border-style: solid;
  border-width: 0 0;
}

.custom-input p {
  margin-top: 10px;
}

.cst-field {
  display: flex;
  border-style: solid;
  border-width: 0 0;
  padding: 0;
}

#text1 {
  width: 30px;
  border-width: 0;
  margin-left: 5px;
}

#text2 {
  width: 25px;
  border-width: 0;
}

#text3 {
  width: 25px;
  border-width: 0;
}


#valuedocs {
  border: 0px;
  width: 60px;
}